@font-face {
  font-family: "iconfont"; /* Project id 4540582 */
  src: url('iconfont.woff2?t=1716084033031') format('woff2'),
       url('iconfont.woff?t=1716084033031') format('woff'),
       url('iconfont.ttf?t=1716084033031') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-bianji:before {
  content: "\e639";
}

.icon-close:before {
  content: "\e6bf";
}

.icon-shanchu:before {
  content: "\e611";
}

.icon-sousuo:before {
  content: "\e61a";
}

.icon-bofangjilu:before {
  content: "\e8ad";
}

.icon-dingwei:before {
  content: "\e61f";
}

.icon-liebiaoxingshi:before {
  content: "\e742";
}

.icon-kuaizhuanggengduo:before {
  content: "\e66c";
}

.icon-shouhui:before {
  content: "\e60a";
}

.icon-xiala:before {
  content: "\e6c0";
}

.icon-morentouxiang:before {
  content: "\e647";
}

.icon-lianxiwomen:before {
  content: "\e686";
}

.icon-dizhi:before {
  content: "\e616";
}

.icon-back:before {
  content: "\e61e";
}

.icon-yinsitiaokuan:before {
  content: "\e760";
}

.icon-yixiajia:before {
  content: "\e667";
}

.icon-chushouzhong:before {
  content: "\e670";
}

.icon-Sold-yishouchu:before {
  content: "\e617";
}

.icon-order:before {
  content: "\e626";
}

.icon-home:before {
  content: "\e624";
}

.icon-mine:before {
  content: "\e631";
}

.icon-message:before {
  content: "\e64c";
}

.icon-publish:before {
  content: "\e7f8";
}

