@font-face {
  font-family: "iconfont"; /* Project id 4540582 */
  src: url('iconfont.woff2?t=1715310485172') format('woff2'),
       url('iconfont.woff?t=1715310485172') format('woff'),
       url('iconfont.ttf?t=1715310485172') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-order:before {
  content: "\e626";
}

.icon-home:before {
  content: "\e624";
}

.icon-mine:before {
  content: "\e631";
}

.icon-message:before {
  content: "\e64c";
}

.icon-publish:before {
  content: "\e7f8";
}

